@font-face {
    font-family: pixel;
    src: url(../fonts/vcr-osd-mono/VCR_OSD_MONO.ttf);
}

body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
    font-family: pixel;
}

h1,
h2 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 100px;
    color: #0665ff;
    margin-bottom: 100px;
}

h2 {
    width: 0;
    margin: 0;
    font-size: 50px;
}

.label {
    width: 50%;
    font-size: 30px;
    color: rgb(0, 162, 255);
}

input[type=text],
input[type=password],
input[type=file] {
    font-family: pixel;
    background-color: rgba(0, 0, 0, 0);
    border: 4px solid rgba(0, 0, 0, 0.329);
    color: rgb(0, 162, 255);
    border-radius: 4px;
    font-size: 30px;
    margin: 0px;
}

.button {
    background: #ffffff1e;
    border: none;
    font-family: pixel;
    color: rgb(0, 183, 255);
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
}

.button:hover {
    color: rgb(111, 214, 255);
    background-color: rgb(48, 48, 48);
    font-size: 30px;
}

.container {
    margin-top: 60px;
    height: 60px;
    position: relative;
}