body {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(232deg, #122944 25%, #090b0f 75%);
    background-size: 400% 400%;
    animation: bg_anim 3s linear infinite;
}

@keyframes bg_anim {
    0% {
        background-position: 50% 0%
    }
    50% {
        background-position: 51% 100%
    }
    100% {
        background-position: 50% 0%
    }
}

div.menuItem,
h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: pixel;
}

h1 {
    font-size: 100px;
    color: #0665ff;
    margin-bottom: 100px;
}

div.menuItem {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 48px;
}

div.menuItem a:link,
div.menuItem a:visited {
    text-decoration: none;
    color: rgb(0, 162, 255);
}

div.menuItem a:hover {
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: pixel;
    src: url(fonts/vcr-osd-mono/VCR_OSD_MONO.ttf);
}

div.earth img,
div.uranus img,
div.venus img,
div.mercury img,
div.mars img {
    position: absolute;
}

div.earth img {
    width: 150px;
    animation: earthAnim 13s infinite linear;
    z-index: -10;
}

@keyframes earthAnim {
    from {
        transform: translate(-500px, 0);
    }
    to {
        transform: translate(2000px, 0);
    }
}

div.mercury img {
    width: 50px;
    animation: mercuryAnim 5s infinite linear;
    z-index: -10;
}

@keyframes mercuryAnim {
    from {
        transform: translate(-1000px, 300px);
    }
    to {
        transform: translate(2000px, 300px);
    }
}

div.mars img {
    width: 100px;
    animation: marsAnim 9s infinite linear;
    z-index: -10;
}

@keyframes marsAnim {
    from {
        transform: translate(-1500px, 500px);
    }
    to {
        transform: translate(2500px, 500px);
    }
}

div.venus img {
    width: 145px;
    animation: venusAnim 9s infinite linear;
    z-index: -10;
}

@keyframes venusAnim {
    from {
        transform: translate(-500px, 400px);
    }
    to {
        transform: translate(3500px, 400px);
    }
}

div.uranus img {
    width: 1000px;
    animation: uranusAnim 40s infinite linear;
    z-index: -9;
}

@keyframes uranusAnim {
    from {
        transform: translate(-2000px);
    }
    to {
        transform: translate(3500px);
    }
}