div#canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 150px;
    left: 0;
    border-bottom: solid 1px #070f41;
    background-image: url(../img/bg.jpg);
    animation: bg_anim 15s infinite linear;
    /* z-index: 10001; */
}

@font-face {
    font-family: pixel;
    src: url(../fonts/vcr-osd-mono/VCR_OSD_MONO.ttf);
}

body {
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
    overflow: hidden;
    font-family: pixel;
    margin: 0;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 100px;
    color: #0665ff;
    margin-bottom: 100px;
}

.label {
    width: 50%;
    font-size: 30px;
    color: rgb(0, 162, 255);
}

input[type=text],
input[type=password],
input[type=file] {
    font-family: pixel;
    background-color: rgba(0, 0, 0, 0);
    border: 4px solid rgba(0, 0, 0, 0.329);
    color: rgb(0, 162, 255);
    border-radius: 4px;
    font-size: 30px;
    margin: 10px;
}

.button {
    background: #ffffff1e;
    border: none;
    font-family: pixel;
    color: rgb(0, 183, 255);
    /*rgb(0, 183, 255)*/
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    text-decoration: none;
}

.button:hover {
    color: rgb(111, 214, 255);
    background-color: rgb(48, 48, 48);
    font-size: 30px;
}

#toolbar {
    position: absolute;
    top: 800px;
    right: 0;
    bottom: 150px;
    left: 0;
}

#buttons {
    position: relative;
    height: 30px;
    float: left;
    width: 250px;
}

#container {
    /* position: relative; */
    bottom: 150px;
    height: 30px;
    width: max-content;
    float: left;
}

table {
    width: min-content;
}

div#wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div#infoDiv,
div#distanceDiv {
    position: absolute;
    background-color: #6276e463;
    color: #a8e6ffb6;
    padding: 5px;
    border-radius: 3px;
}

#line {
    stroke: #a8e6ff81;
    stroke-width: 2px;
}

#linesSvg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 150px;
    left: 0;
}

@keyframes bg_anim {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 500px 0px;
    }
}